.button1{
  height: 30px;
  widht: 30px;
  background-color: orange;
  padding: 10px;
  border-radius: 22px;
  border: solid 2px black;
}
.button2{
  height: 30px;
  widht: 30px;
  background-color: orange;
  padding: 10px;
  border-radius: 22px;
  border: solid 2px black;
}

.opacity {
  opacity: 0.5;
}