body {
    margin: 0;
    font-family: sans-serif;
  }
  
  /* container */
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffcc00;
  }
  
  /* face */
  
  .face {
    font-size: 80px;
    font-family: sans-serif;
  }
  
  /* form */
  
  .select {
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 5px;
    background-color: white;
  }
  
  .button {
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 5px;
    background-color: royalblue;
    border: none;
    color: white;
  }
  
  .chilean-fire-color {
    background-color: #ff9900;
  }
  
  .correct-yellow-color {
    background-color: #ffcc00;
  }
  
  /* footer */
  
  .footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
  }
  
  .info {
    font-size: 10px;
  }
  
  .info * {
    list-style: none;
    text-align: right;
    text-decoration: none;
  }